html,
body {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    background-color: #1B202C !important;
    font-family: 'Roboto', 'Open Sans', 'Lato', 'Montserrat', 'Arial', 'Georgia' !important;
}

a {
    text-decoration: none !important;
}

th {
    color: #CCCCCC;
}

td {
    color: #CCCCCC;
}

a {
    color: #CCCCCC;
}

.table-hover tbody tr:hover td {
    background-color: #CCCCCC;
}
.table-hover tbody tr:hover th{
    background-color: #CCCCCC;
}

.table-hover tbody a {
    color: inherit;
    text-decoration: none;
}



.table-responsive {
    margin-top: 20px;
    width: 60%;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
}